---
import AsideHeading from "../Aside/AsideHeading.astro";
---
<div class="description py-4 px-5 round-4 mb-6">
    <AsideHeading title="وصف الوحدة"/>
    <div class="descriptionContainer  py-3 px-4">
        <p class="fs-16 fw-500 line-relaxed mb-4">
            يُوفر هذا الفندق العصري الملحق بمركز Red Sea التجاري بجدة غرفاً عصرية مجهزة بخدمة إنترنت مجانية وجهاز تلفزيون بشاشة مسطحة. كما تشمل المرافق سبا يضم غرفة بخار.
        </p>
        <p class="fs-16 fw-500 line-relaxed mb-4">
            يُوفر هذا الفندق العصري الملحق بمركز Red Sea التجاري بجدة غرفاً عصرية مجهزة بخدمة إنترنت مجانية وجهاز تلفزيون بشاشة مسطحة. كما تشمل المرافق سبا يضم غرفة بخار.
        </p>
        <p class="fs-16 fw-500 line-relaxed">
            يُوفر هذا الفندق العصري الملحق بمركز Red Sea التجاري بجدة غرفاً عصرية مجهزة بخدمة إنترنت مجانية وجهاز تلفزيون بشاشة مسطحة. كما تشمل المرافق سبا يضم غرفة بخار.
        </p>

    </div>
</div>