---
import { Image } from "astro:assets";
import img from "@assets/banner/hero-1.jpg";
import img_2 from "@assets/banner/hero-2.png";
---

<div class="galleryContainer p-8 round-4 w-full mx-auto mb-5">
  <!-- Main Swiper -->
  <div class="swiper main-swiper w-auto mb-5">
    <div class="swiper-wrapper">
      <div class="swiper-slide round-6">
        <Image
          src={img}
          alt="test"
          format="webp"
          quality={70}
          class={`round-6 img-cover`}
        />
      </div>
      <div class="swiper-slide round-6">
        <Image
          src={img_2}
          alt="test"
          format="webp"
          quality={70}
          class={`round-6 img-cover`}
        />
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <!-- Thumbnail Swiper -->
  <div class="swiper thumb-swiper w-full h-full py-5">
    <div class="swiper-wrapper">
      <div class="swiper-slide round-4">
        <Image
          src={img}
          alt="test"
          format="webp"
          quality={70}
          class={`round-4 img-cover`}
        />
      </div>
      <div class="swiper-slide round-4">
        <Image
          src={img_2}
          alt="test"
          format="webp"
          quality={70}
          class={`round-4 img-cover`}
        />
      </div>
    </div>
  </div>
</div>
