---
import AsideHeading from "../Aside/AsideHeading.astro";
import FormGroup from "@components/ui/FormGroup.astro";
import Button from "@components/ui/Button.astro";
---

<div class="leaveReview py-4 px-5 round-4 mb-6">
  <AsideHeading title="اترك تقييمك" />
  <form class="formReview mt-5">
    <div
      class="LeaveRating d-grid align-items-center lg:grid-col-3 grid-col-2 sm-max:grid-col-1 gap-5"
    >
      <div class="formGroup d-flex align-items-start gap-3">
        <span class="fs-18 ">الخدمة</span>
        <div class="star-rating d-flex align-items-center gap-2 ">
          <input type="radio" name="service" id="service_1">
          <label for="service_1"></label>
          <input type="radio" name="service" id="service_2">
          <label for="service_2"></label>
          <input type="radio" name="service" id="service_3">
          <label for="service_3"></label>
          <input type="radio" name="service" id="service_4">
          <label for="service_4"></label>
          <input type="radio" name="service" id="service_5">
          <label for="service_5"></label>
        </div>
      </div>
      <div class="formGroup d-flex align-items-start gap-3">
        <span class="fs-18">الموقع</span>
        <div class="star-rating d-flex align-items-center gap-2">
          <input type="radio" name="location" id="location_1">
          <label for="location_1"></label>
          <input type="radio" name="location" id="location_2">
          <label for="location_2"></label>
          <input type="radio" name="location" id="location_3">
          <label for="location_3"></label>
          <input type="radio" name="location" id="location_4">
          <label for="location_4"></label>
          <input type="radio" name="location" id="location_5">
          <label for="location_5"></label>
        </div>
      </div>
      <div class="formGroup d-flex align-items-start gap-3">
        <span class="fs-18">قيمة مقابل سعر</span>
        <div class="star-rating d-flex align-items-center gap-2">
          <input type="radio" name="money" id="money_1">
          <label for="money_1"></label>
          <input type="radio" name="money" id="money_2">
          <label for="money_2"></label>
          <input type="radio" name="money" id="money_3">
          <label for="money_3"></label>
          <input type="radio" name="money" id="money_4">
          <label for="money_4"></label>
          <input type="radio" name="money" id="money_5">
          <label for="money_5"></label>
        </div>
      </div>
      <div class="formGroup d-flex align-items-start gap-3">
        <span class="fs-18">مرافق</span>
        <div class="star-rating d-flex align-items-center gap-2">
          <input type="radio" name="facilities" id="facilities_1">
          <label for="facilities_1"></label>
          <input type="radio" name="facilities" id="facilities_2">
          <label for="facilities_2"></label>
          <input type="radio" name="facilities" id="facilities_3">
          <label for="facilities_3"></label>
          <input type="radio" name="facilities" id="facilities_4">
          <label for="facilities_4"></label>
          <input type="radio" name="facilities" id="facilities_5">
          <label for="facilities_5"></label>
        </div>
      </div>
      <div class="formGroup d-flex align-items-start gap-3">
        <span class="fs-18">نظافة</span>
        <div class="star-rating d-flex align-items-center gap-2">
          <input type="radio" name="cleanliness" id="cleanliness_1">
          <label for="cleanliness_1"></label>
          <input type="radio" name="cleanliness" id="cleanliness_2">
          <label for="cleanliness_2"></label>
          <input type="radio" name="cleanliness" id="cleanliness_3">
          <label for="cleanliness_3"></label>
          <input type="radio" name="cleanliness" id="cleanliness_4">
          <label for="cleanliness_4"></label>
          <input type="radio" name="cleanliness" id="cleanliness_5">
          <label for="cleanliness_5"></label>
        </div>
      </div>
    </div>
    <div class="bigGroup mt-5 d-flex align-items-center gap-5 w-full">
      <FormGroup
        type="text"
        title="الاسم بالكامل"
        name="fullName"
        place="ادخل الاسم بالكامل"
        id="fullName"
        isLabel={true}
        LabelClassName="fs-16 fw-700 ps-3 pb-2 d-inline-block o-80"
        InputClassName="w-full h-24 ps-4 round-4 "
        FormClassName="pb-5 w-full"
      />
      <FormGroup
        type="email"
        title="البريد الالكتروني"
        name="email"
        place="ادخل البريد الالكتروني"
        id="email"
        isLabel={true}
        LabelClassName="fs-16 fw-700 ps-3 pb-2 d-inline-block o-80"
        InputClassName="w-full h-24 ps-4 round-4 "
        FormClassName="pb-3 w-full"
      />
    </div>
    <div class="formGroup w-full">
        <label for="massage" class="fs-16 fw-700 ps-3 pb-2 d-inline-block o-80"></label>
        <textarea name="massage" id="massage" class="w-full h-100 ps-4 round-4 pt-4"></textarea>
    </div>
    <Button type="submit" aria={`اترك تقييمك`} ClassName="   btn btn-round relative round-4 mt-5">
        <span class="fs-18 fw-700 relative">اترك تقييمك</span>
    </Button>
  </form>
</div>
