---
import AsideHeading from "../Aside/AsideHeading.astro";
---
<div class="Map py-4 px-5 round-4 mb-6">
    <AsideHeading title=" الموقع"/>
    <div class="mapContainer  py-3 px-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13735.308237673138!2d30.976159350000003!3d30.61064085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1734655804698!5m2!1sar!2seg"  style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</div>