---
import CardPro from "@components/Card/CardPro.astro";
import Button from "@components/ui/Button.astro";
---
<section class="unitsCard  ">
    <div class="d-grid ">
        <CardPro/>
        <CardPro/>
        <CardPro/>
        <CardPro/>
        <CardPro/>
        <CardPro/>
         <div class="empty mx-auto d-none">
            <dotlottie-player
                src="https://lottie.host/8fd46bec-8e7a-4094-8395-394d974e1f0b/FC3EPZRECg.lottie"
                background="transparent"
                speed="1"
                style="width: 100%; height: 100%"
                loop
                autoplay
                ></dotlottie-player>
         </div>
    </div>
    <Button type='button' aria={`اظهار المزيد`} ClassName="btn btn-noBg w-full  relative round-4 w-100 mt-8" icon={{name:"loader", Class:"w-28 h-28 relative mx-auto" ,side:"left"}} />
</section>