---
import Gallery from "./Details/sectionD/Gallery.astro";
import Specifications from "./Details/sectionD/Specifications.astro";
import Description from "./Details/sectionD/Description.astro";
import Map from "./Details/sectionD/Map.astro";
import Review from "./Details/sectionD/Review.astro";
import LeaveReview from "./Details/sectionD/LeaveReview.astro";

---
<section class="unitDel">
    <Gallery />
    <Specifications />
    <Description />
    <Map />
    <Review />
    <LeaveReview/>
</section>