---
import MainHeading from "@components/ui/mainHeading.astro";
import { Image } from "astro:assets";
import img from "@assets/banner/hero-1.jpg";

---
<section class="AboutUs">
    <MainHeading title="من نحن" dabble={{des:"نحن مبتكرون وشغوفون بالعمل الذي نقوم به."}} aos={{effect:'fade-down',time:800}} />
    <div class="container d-grid grid-col-2 sm-max:grid-col-1 gap-5">
        <div class="leftSide " data-aos="fade-up" data-aos-duration="1000">
            <h3 class="fs-28 fw-700 pb-4">الحل الأفضل لخدمات العقارات</h3>
            <p class="fs-18 line-relaxed o-80 pb-3">
                يُوفر هذا الفندق العصري الملحق بمركز Red Sea التجاري بجدة غرفاً عصرية مجهزة بخدمة إنترنت مجانية وجهاز تلفزيون بشاشة مسطحة. كما تشمل المرافق سبا يضم غرفة بخار.
            </p>
            <p class="fs-18 line-relaxed o-80 pb-3">
                يُوفر هذا الفندق العصري الملحق بمركز Red Sea التجاري بجدة غرفاً عصرية مجهزة بخدمة إنترنت مجانية وجهاز تلفزيون بشاشة مسطحة. كما تشمل المرافق سبا يضم غرفة بخار.
            </p>
            <p class="fs-18 line-relaxed o-80">
                ولكن لكي ترى من أين كل هذا الخطأ الذي ولده أولئك الذين يتهمون اللذة ويمتدحون الألم، سأفتح الموضوع برمته، وأشرح نفس الأشياء التي قالها مكتشف الحقيقة، ومهندس الحقيقة. حياة سعيدة.
            </p>
        </div>
        <div class="rightSide " data-aos="fade-up" data-aos-duration="1000">
            <figure class=" round-6">
                <Image src={img} alt={`test`} class={`round-6 img-cover`} quality={70} format="webp"/>
            </figure>
        </div>
    </div>
</section>