---
import FormGroup from "@components/ui/FormGroup.astro";
import Button from "@components/ui/Button.astro";
import contact from '@assets/banner/contact.jpg';
import { Image } from "astro:assets";
---

<section class="contact">
  <div class="container">
    <div class="d-grid grid-col-2 sm-max:grid-col-1 round-6 p-6 gap-5">
      <div class="leftSide" data-aos="fade-up" data-aos-duration="1000">
        <form>
            <h3 class="fs-28 fw-700  pb-5">ابقا على تواصل</h3>
          <FormGroup
            type="text"
            title="الاسم بالكامل"
            name="fullName"
            place="ادخل الاسم بالكامل"
            id="fullName"
            isLabel={true}
            LabelClassName="fs-16 fw-700 ps-3 pb-2 d-inline-block o-80"
            InputClassName="w-full h-24 ps-4 round-4 "
            FormClassName="pb-5 w-full"
          />
          <FormGroup
            type="email"
            title="البريد الالكتروني"
            name="email"
            place="ادخل البريد الالكتروني"
            id="email"
            isLabel={true}
            LabelClassName="fs-16 fw-700 ps-3 pb-2 d-inline-block o-80"
            InputClassName="w-full h-24 ps-4 round-4 "
            FormClassName="pb-3 w-full"
          />
          <FormGroup
            type="number"
            title="رقم الجوال "
            name="number"
            place="ادخل رقم الجوال "
            id="number"
            isLabel={true}
            LabelClassName="fs-16 fw-700 ps-3 pb-2 d-inline-block o-80"
            InputClassName="w-full h-24 ps-4 round-4 "
            FormClassName="pb-3 w-full"
          />
          <div class="formGroup w-full">
            <label for="massage" class="fs-16 fw-700 ps-3 pb-2 d-inline-block o-80"></label>
            <textarea name="massage" id="massage" class="w-full h-100 ps-4 round-4 pt-4"></textarea>
        </div>
        <Button type="submit" aria={`ارسل رسالتك`} ClassName="   btn btn-round relative round-4 mt-5">
            <span class="fs-18 fw-700 relative">ارسل </span>
        </Button>
        </form>
      </div>
      <div class="rightSide  " data-aos="fade-down" data-aos-duration="1000">
        <figure class="round-6">
          <Image src={contact} alt={`test`} class={`round-6 img-cover`} quality={50} format="webp"/>
        </figure>
      </div>
    </div>
  </div>
</section>
