---
import MainHeading from "@components/ui/mainHeading.astro";
import CardInfoRent from "@components/Card/CardInfoRent.astro";
import Link from "@components/ui/Link.astro";
import Button from "@components/ui/Button.astro";
---
<section class="infoRent ">
    <MainHeading title="كيفية استاءجر وحدتك" dabble={{des:"إن  تأجير وحدتك هي عملية مباشرة تتضمن عادةً الخطوات التالية"}} />
    <div class="container d-grid gap-5 lg:grid-col-3 md:grid-col-2 grid-col-1 ">
        <CardInfoRent/>
        <CardInfoRent/>
        <CardInfoRent/>
    </div>
</section>