---
interface Props {
    title:string;
    src:string | any;
    des?:string | undefined;
    aos?:{
        effect:string |any,
        time:string |any,
        delay:string |any,
    }
}
import { Image } from "astro:assets";
const { title ,src ,des = "",aos=false} = Astro.props;
---
<div class="infoRentCard text-center p-12 relative" {...aos && { 'data-aos': aos.effect, 'data-aos-duration': aos.time ,'data-aos-delay': aos.delay }}>
    <div class="containerIcon border-2 border-dashed lg:p-5 p-4  mb-12 round-cricle d-inline-flex">
        <Image  src={src} alt={title} class={'w-36 h-36 round-cricle lg:p-5 p-4'} />
    </div>
    <h3 class="fs-24 fw-700 pb-4">{title}</h3>
    <p class="fs-16 mx-auto">
        {des}
    </p>
</div>