---

---

<div class="Card">
  <!-- cardImg -->
  <div class="cardBody">
    <!-- bodyTop -->
    <div class="bodyTop">
      <h3></h3>
      <div class="rate"></div>
    </div>
    <!-- bodyMiddle -->
     <ul class="bodyMiddle">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
     </ul>
     <!-- bodyBottom  -->
      <div class="bodyBottom">
        <p class="price"></p>
        <p class="city"></p>
      </div>
  </div>
  <div class="cardButton"></div>
</div>
