---
import { Image } from "astro:assets";
import text from "@assets/Svg/mobile.svg";
---
<div class="infoRentCard text-center p-12 relative">
    <div class="containerIcon border-2 border-dashed lg:p-5 p-4  mb-12 round-cricle d-inline-flex">
        <Image  src={text} alt="text" class={'w-36 h-36 round-cricle lg:p-5 p-4'} />
    </div>
    <h3 class="fs-24 fw-700 pb-4">1. اختر التاريخ والمواقع</h3>
    <p class="fs-16 mx-auto">
        حدد تاريخ ومكان استئجار وحدتك. ضع في اعتبارك عوامل مثل مسار رحلتك ومواقع وحدتك (على سبيل المثال، جدة أو وسط المدينة) ومدة الاستئجار.
    </p>
</div>