@use "../../helpers/extend" as *;

.smallFilter {
    z-index: 4;

    form {
        background-color: var(--w);
        box-shadow: 0 11px 1.25rem var(--shadowColor);


        input[type="date"] {
            appearance: none;
            position: relative;
            cursor: pointer;
            color: transparent;

            &::-webkit-datetime-edit {
                color: var(--blackY);
                display: none;
            }

            &::-webkit-calendar-picker-indicator {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                cursor: pointer;
                z-index: 1;
            }

            &::before {
                content: attr(placeholder);
                position: absolute;
                inset-inline-start: 8px;
                @extend %centerY;
                pointer-events: none;
                opacity: 0.8;
                color: var(--blackY);
            }

            &[data-value="true"] {
                color: var(--blackY);

                &::-webkit-datetime-edit {
                    display: block;
                }

                &::before {
                    display: none;
                }
            }

            &+svg {
                inset-inline-end: 8px;
                @extend %centerY;
                pointer-events: none;
                z-index: 0;
            }
        }

        .selectForm {
            select {
                appearance: none;
            }

            svg {
                // position: absoppxxlute;
                inset-inline-end: 8px;
                @extend %centerY;
                top: 65%;
                pointer-events: none;
            }
        }

    }

    &.index {
        form {
            margin-top: -100px;

            @media (max-width: 566px) {
                margin-top: -220px;
            }
        }
    }
    &.another {
        form {
            margin-top: -50px;
        }
    }

}