---
import Owner from "./Aside/Owner .astro";
import PriceDetails from "./Aside/PricingDetails.astro";
import Button from "@components/ui/Button.astro";
import AsideForm from "./Aside/AsideForm.astro";
import ModelInquiry from "./ModelInquiry.astro";

---
<aside class="bookDetails">
    <PriceDetails/>
    <Owner/>
    <AsideForm/>
    
    <Button type="submit" aria={`حجز `} ClassName="w-full  btn btn-round relative round-3 mb-5">
        <span class="fs-18 fw-700 relative">حجز</span>
    </Button>
    <Button type="button" aria={`استعلام`} ariaEx={false} controll={`ModelInquiry`} id="openModelInquiry" ClassName="w-full  btn btn-round relative round-3" isBorder>
        <span class="fs-18 fw-700 relative">استعلام</span>
    </Button>

   
</aside>