---
import { Icon } from "astro-icon/components";
---

<section class="topSection">
  <div class="container">
    <div class="boxTop d-flex align-items-center justify-between py-5 px-10 flex-wrap">
      <div class="leftSide">
        <h3 class="fs-36 fw-700">فندق الاندلس مول</h3>
        <p class="d-flex align-items-center gap-2">
          <Icon name={`location`} class={`w-10 h-10`} />
          جدة شارع 33 الملك
        </p>
      </div>
      <div class="RightSide">
        <div class="rate d-flex align-items-center pb-2">
          <Icon name="star" class="w-14 h-14" />
          <Icon name="star" class="w-14 h-14" />
          <Icon name="star" class="w-14 h-14" />
          <Icon name="star" class="w-14 h-14" />
          <Icon name="star" class="w-14 h-14" />
          <span class="fs-18 o-80 ps-2">(4)</span>
        </div>
        <p>  100% من الضيوف يوصون</p>
      </div>
    </div>
  </div>
</section>
